<!-- JUMBOTRON/HEADER -->
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Technical.ly Job Scraper</h1>
    </div>
    <br>
    <h4>The latest Philadelphia tech jobs</h4>
</div>

<div class="container">

    {{!-- NEED SCRAPE BUTTON AND SAVE BUTTON --}}
    <div class="row"><br>
        <span><button id="scrape-jobs">Scrape</button>
            <button id="scrape-jobs">My Saved Jobs</button></span>
    </div>
    <br><br>

    <div class="row">
        <div class="col-sm-12">
            <h4>New Jobs:</h4>

            {{#each jobs}}
            <hr>
            <h5>{{title}}</h5>
            <p>Full job posting: <a href="{{link}}">{{link}}</a></p>
            <img class="img-fluid" src="{{logoLink}}">
            {{/each}}

        </div>
    </div>
</div>
